# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [9]:
# Given the information you gathered, what do you think is the best store financially? ------------

C:\Users\a1mme\AppData\Local\Temp\ipykernel_1448\3615584077.py:4: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  x=store.iloc[0:].sum()

In [1]:
# import and load the data
import pandas as pd
store = pd.read_csv('store_data.csv')
new_store = pd.DataFrame(store,columns=store.columns[1:])
x=new_store.iloc[0:]

In [2]:
# explore the data (gather as much information as you can)
store.head(10)
store.shape
store.info()
store.columns[store.columns[store.isna().any()]]
store.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   week    200 non-null    object
 1   storeA  200 non-null    int64
 2   storeB  200 non-null    int64
 3   storeC  200 non-null    int64
 4   storeD  200 non-null    int64
 5   storeE  200 non-null    int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

0

In [3]:
# clean the data
store['week']=pd.to_datetime(store['week'])

In [4]:
# total sales for the last month
store[['storeA','storeB','storeC','storeD','storeE']]=store[['storeA','storeB','storeC','storeD','storeE']].iloc[-4:].sum()
store[-1:]

          week  storeA  storeB  storeC  storeD  storeE
199 2018-02-25   25127   24595   16447   22783    7787

In [5]:
# average sales
store[['storeA','storeB','storeC','storeD','storeE']].mean()

storeA    25127.0
storeB    24595.0
storeC    16447.0
storeD    22783.0
storeE     7787.0
dtype: float64

In [6]:
# sales on march 13, 2016
store[store['week'] == '2016-03-13']

         week  storeA  storeB  storeC  storeD  storeE
97 2016-03-13   25127   24595   16447   22783    7787

In [7]:
# worst week for store C
store[store["storeC"] == store["storeC"].min()]

          week  storeA  storeB  storeC  storeD  storeE
0   2014-05-04   25127   24595   16447   22783    7787
1   2014-05-11   25127   24595   16447   22783    7787
2   2014-05-18   25127   24595   16447   22783    7787
3   2014-05-25   25127   24595   16447   22783    7787
4   2014-06-01   25127   24595   16447   22783    7787
..         ...     ...     ...     ...     ...     ...
195 2018-01-28   25127   24595   16447   22783    7787
196 2018-02-04   25127   24595   16447   22783    7787
197 2018-02-11   25127   24595   16447   22783    7787
198 2018-02-18   25127   24595   16447   22783    7787
199 2018-02-25   25127   24595   16447   22783    7787

[200 rows x 6 columns]

In [8]:
# total sales during most recent 3 month period
store[['storeA','storeB','storeC','storeD','storeE']]=store[['storeA','storeB','storeC','storeD','storeE']].iloc[187:196].sum()
store[-1:]

          week  storeA  storeB  storeC  storeD  storeE
199 2018-02-25  226143  221355  148023  205047   70083

In [9]:
# Go back to the top and answer the questions

##### Which store has the highest total sales for the final month of data

In [12]:
x.sum()    #store B

storeA    1173096
storeB    1351342
storeC     988421
storeD    1086281
storeE     516005
dtype: int64

##### Which store makes the most sales on average

In [13]:
x.mean()

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

##### What is the most consistent store in sales

In [14]:
new_store.describe().loc['std'][new_store.describe().loc['std']==new_store.describe().loc['std'].min()]

storeD    1183.111323
Name: std, dtype: float64